$color-background: #fefefe;
$color-text: #2c2c2c;
$color-button: #bbf330;
$color-button-hover: #b5ff00;
$color-button-border: #7eb101;
$color-button-border-hover: #597d00;
$color-error: #ff705d;
$color-backdrop: #5e6363b3;
$color-modal: #ffe550;
$color-input-border: #1212121f;
$color-placeholder: #c4c4c4;
$color-white: #ffffff;
$color-white-opacity: #ffffff80;
$color-text-burger: #000000;