<section class="section">
    <div class="container">
        <h2 class="favorite_h">Some of Our Favorites</h2>
        <p class="favorite_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<ul class="list favorite-ul">


    <li class="favorite_li"> 
        <picture>
            <source
            srcset="
            ./images/gallery/food-img-1-desk-1x.png 1x,
            ./images/gallery/food-img-1-desk-2x.png 2x
            "
            media=" (min-width: 1280px)"
            />
            
            <source
            srcset="
            ./images/gallery/food-img-1-tablet-1x.png 1x,
            ./images/gallery/food-img-1-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
            />

            <source
            srcset="
            ./images/gallery/food-img-1-mob-1x.png 1x,
            ./images/gallery/food-img-1-mob-2x.png 2x,
            ./images/gallery/food-img-1-mob-3x.png 3x
            "
            media="(max-width: 768px)"
            />
           


            <img src="./images/gallery/food-img-1-desk-1x.png" 
            alt="Бургер" 
            class="favorite_img"> 
       
        </picture>
    </li>


    <li class="favorite_li">
        <picture>
            <source
            srcset="
            ./images/gallery/food-img-2-desk-1x.png 1x,
            ./images/gallery/food-img-2-desk-2x.png 2x
            "
            media=" (min-width: 1280px)"
            />
            
            <source
            srcset="
            ./images/gallery/food-img-2-tablet-1x.png 1x,
            ./images/gallery/food-img-2-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
            />

            <source
            srcset="
            ./images/gallery/food-img-2-mob-1x.png 1x,
            ./images/gallery/food-img-2-mob-2x.png 2x,
            ./images/gallery/food-img-2-mob-3x.png 3x
            "
            media="(max-width: 768px)"
            />

            <img src="./images/gallery/food-img-2-desk-1x.png" 
            alt="Паста"
            class="favorite_img"> 
        </picture>

    </li>


    <li class="favorite_li">
        <picture>
            <source
            srcset="
            ./images/gallery/food-img-3-desk-1x.png 1x,
            ./images/gallery/food-img-3-desk-2x.png 2x
            "
            media=" (min-width: 1280px)"
            />
            
            <source
            srcset="
            ./images/gallery/food-img-3-tablet-1x.png 1x,
            ./images/gallery/food-img-3-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
            />

            <source
            srcset="
            ./images/gallery/food-img-3-mob-1x.png 1x,
            ./images/gallery/food-img-3-mob-2x.png 2x,
            ./images/gallery/food-img-3-mob-3x.png 3x
            "
            media="(max-width: 768px)"
            />

            <img src="./images/gallery/food-img-3-desk-1x.png"
             alt="Піца" 
             class="favorite_img"> 
        </picture>
    </li>


    <li class="favorite_li favorite_li_s">
        <picture>
            <source
            srcset="
            ./images/gallery/food-img-4-desk-1x.png 1x,
            ./images/gallery/food-img-4-desk-2x.png 2x
            "
            media=" (min-width: 1280px)"
            />

            <source
            srcset="
            ./images/gallery/food-img-4-tablet-1x.png 1x,
            ./images/gallery/food-img-4-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
            />

            <img src="./images/gallery/food-img-4-desk-1x.png" 
            alt="Рис з куркою"
             class="favorite_img"> 

            
        </picture>


    </li>


    <li class="favorite_li favorite_li_s">
        <picture>
            <source
            srcset="
            ./images/gallery/food-img-5-desk-1x.png 1x,
            ./images/gallery/food-img-5-desk-2x.png 2x
            "
            media=" (min-width: 1280px)"
            />

            <source
            srcset="
            ./images/gallery/food-img-5-tablet-1x.png 1x,
            ./images/gallery/food-img-5-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
            />

            <img src="./images/gallery/food-img-5-desk-1x.png" 
            alt="Салат з лососем" 
            class="favorite_img"> 
        </picture>


    </li>


    <li class="favorite_li favorite_li_s">
        <picture>
            <source
            srcset="
            ./images/gallery/food-img-6-desk-1x.png 1x,
            ./images/gallery/food-img-6-desk-2x.png 2x
            "
            media=" (min-width: 1280px)"
            />
            
            <source
            srcset="
            ./images/gallery/food-img-6-tablet-1x.png 1x,
            ./images/gallery/food-img-6-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
            />
            
            <img src="./images/gallery/food-img-2-desk-1x.png" 
            alt="Борщ" 
            class="favorite_img"> 
        </picture>



    </li>
</ul>
    </div>
</section>