<footer class="footer">
    <div class="footer-container container">
        <div class="for-desktop">
            <div class="logo-site-nav">
                <a href="./index.html" class="logo">
                    <svg class="logo__icon">
                        <use href="./images/icons.svg#icon-logo" width="69" height="51"></use>
                    </svg>
                </a>
                <div class="site-nav">
                    <ul class="site-nav__list">
                        <li class="site-nav__item">
                            <a href="./index.html" class="site-nav__link">Home</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="#" class="site-nav__link">About</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="#" class="site-nav__link">Service</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="#" class="site-nav__link">Menu</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="#" class="site-nav__link">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-form">
                <p class="footer-form__title">Subscribe</p>
                <form class="form">
                    <div class="input-and-btn">
                        <label>
                            <input class="footer-form__input" type="email" name="email" placeholder="Enter your email">
                        </label>
                        <div class="submit-btn">
                            <button class="btn form-btn" type="submit">
                                Subscribe
                            </button>
                        </div>
                    </div>
                    <p class="form-policy">By subscribing you agree to our <a href="#" class="policy-link">Privacy Policy</a></p>
                </form>
            </div>
        </div>
        <div class="policies-footer-end">
            <div class="policies">
                <ul class="policies__list">
                    <li class="policies__list-item">
                        <a href="#" class="policies__list-link">Privacy Policy</a>
                    </li>
                    <li class="policies__list-item">
                        <a href="#" class="policies__list-link">Terms of Service</a>
                    </li>
                    <li class="policies__list-item">
                        <a href="#" class="policies__list-link">Cookies Settings</a>
                    </li>
                </ul>
            </div>
            <p class="footer-end">2022 FoodSta. All rights reserved.</p>
        </div>   
    </div>
</footer>