<header class="header">
    <div class="header__container">
        <a class="header__logo" href=""><svg width="66px" height= "52px"><use href="./images/icons.svg#icon-logo"></use></svg></a>
    <div class="js-menu-container" data-menu>
    <nav class="header__navigator">
      <ul class="header__list">
        <li class="header__link--first"><a class="" href="./index.html">Home</a></li>
        <li class="header__link"><a class="" href="#about">About</a></li>
        <li class="header__link"><a class="" href="#offerings">Service</a></li>
        <li class="header__link"><a class="" href="#favorites">Menu</a></li>
        <li class="header__link--last"><a class="" href="#subscribe">Contacts</a></li> 
      </ul> 
      <button type="button" class="js-close-menu"><svg class="header__icon-cross" width="11px" height="11px"><use href="./images/icons.svg#icon-cross"></use></svg></button>
      <button type="button" class="order-button" data-modal-open>Order Now</button>
      </nav>
    </div>  
        <button type="button" class="js-open-menu" aria-expanded="false" data-menu-button>
        <svg class="header__icon-burger" width="40px" height="40px" aria-label="menu">
        <use href="./images/icons.svg#icon-burger"></use></svg>
        </button>
      </div>
</header>
