<div class="backdrop is-hidden" data-modal>
  <div class="modal modal--moving">
    <button type="button" class="button-modal" data-modal-close>
      <svg width="11" height="11" class="button-modal__svg">
        <use xlink:href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>

    <form class="form-modal">
      <b class="form-modal__title form-modal__title--moving">Order Form</b>

      <div class="form-modal__conteiner">
        <label for="name" class="form-modal__label form-modal__label--moving">
          Name</label
        >
        <input
          type="text"
          name="user name"
          id="name"
          placeholder="Your name"
          required
          pattern="[A-Za-z]{3,25}"
          minlength="3"
          maxlength="25"
          class="form-modal__input input-user"
        />
        <div class="attention">
          <svg width="12" height="12" class="attention__svg">
            <use xlink:href="./images/icons.svg#icon-attention"></use>
          </svg>
          <b class="attention__text"
            >The name must be between 3 and 25 characters</b
          >
        </div>
      </div>

      <div class="form-modal__conteiner">
        <label for="phone" class="form-modal__label form-modal__label--moving"
          >Phone number</label
        >
        <input
          type="tel"
          name="phone"
          id="phone"
          placeholder="+38(0_ _) _ _ _   _ _   _ _"
          pattern="^\+\d{2} \(\d{3}\) \d{3} \d{2} \d{2}$"
          required
          class="form-modal__input input-tel"
        />
        <div class="attention">
          <svg width="12" height="12" class="attention__svg">
            <use xlink:href="./images/icons.svg#icon-attention"></use>
          </svg>
          <b class="attention__text">
            This phone must be in the format +38 (099) 999 99 99</b
          >
        </div>
      </div>

      <div class="form-modal__conteiner">
        <label for="mail" class="form-modal__label form-modal__label--moving"
          >E-mail</label
        >
        <input
          type="email"
          name="email"
          id="mail"
          placeholder="example@gmail.com"
          pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}"
          required
          class="form-modal__input input-mail"
        />
        <div class="attention">
          <svg width="12" height="12" class="attention__svg">
            <use xlink:href="./images/icons.svg#icon-attention"></use>
          </svg>
          <b class="attention__text">Please enter a valid email address</b>
        </div>
      </div>

      <button type="submit" class="primery-btn primery-btn--centered">
        Send
      </button>
    </form>
  </div>
</div>
