<div class="container subscribe" id="subscribe">
  <picture class="subscribe__picture">
    <source
      srcset="
        /src/images/subscribe/banana-desctop-608-1x.png  1x,
        /src/images/subscribe/banana-desctop-1216-2x.png 2x,
        /src/images/subscribe/banana-desctop-1824-3x.png 3x
      "
      media="(min-width: 1280px)"
    />

    <source
      srcset="
        /src/images/subscribe/banana-tab-281-1x.png 1x,
        /src/images/subscribe/banana-tab-562-2x.png 2x,
        /src/images/subscribe/banana-tab-843-3x.png 3x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        /src/images/subscribe/banana-mob-280-1x.png 1x,
        /src/images/subscribe/banana-mob-560-2x.png 2x,
        /src/images/subscribe/banana-mob-840-3x.png 3x
      "
      media="(max-width: 767px)"
    />

    <img
      src="/src/images/subscribe/banana-mob-280-1x.png"
      alt="banana"
      class="subscribe__img-banana"
    />
  </picture>
  <div class="subscribe__box">
    <h2 class="subscribe__tittle">Subscribe To Get Special Offers</h2>
    <p class="subscribe__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
  </div>

  <!-- Підписка -->

  <form action="#0" class="subscribe__form">
    <div class="subscribe__form-box">
      <label>
        <input
          class="subscribe__mail-input"
          type="email"
          name="email"
          placeholder="Enter your email"
          required
      /></label>
      <div>
        <button class="subscribe__mail-button" type="submit">Subscribe</button>
      </div>
    </div>
  </form>
</div>
