<section class="section">
    <div class="container subscribe">

        <div class="subscribe__wrap">
            <h2 class="subscribe__tittle">
                Subscribe To Get Special Offers
            </h2>
            <p class="subscribe__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                eros elementum tristique.
            </p>
        </div>

        <!-- Підписка -->
        <form action="#0" class="subscribe__form">
            <div class="subscribe__form-box">

                <label>
                    <input class="subscribe__mail-input" type="email" name="email" placeholder="Enter your email"
                        required /></label>
                <div class="subscribe__input-requirements">
                    <svg width="12" height="12" class="subscribe__button-image" alt="prev">
                        <use href="./images/icons.svg#icon-error"></use>
                    </svg>
                    Not a valid email address (example@email.com)
                </div>
            </div>



            <div>
                <button class="subscribe__mail-button" type="submit">
                    Subscribe
                </button>

            </div>
        </form>



    </div>

</section>