<section class="section">
    <div class="container subscribe">

        <img src="../images/banana-mob-280-1x.png" alt="">
        <div class="wrapper">
            <h2 class="subscribe__title">
                Subscribe To Get Special Offers
            </h2>
            <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
                in eros elementum tristique.
            </p>
        </div>
        <div>
            <input type="email" name="Enter your email" id="mail">
            <button type="submit">Subscribe</button>
        </div>


    </div>
</section>