.btn-up {
    position: fixed; 
    right: 10px; 
    bottom: 20px;
  
    @include flex-centered;
    @include size (40px, 40px); 
  
    @include tablet-min {
      @include size (45px, 45px); 
      right: 5px; 
      bottom: 50px;
    }
  
    @include desktop-min {
      @include size (50px, 50px);
      right: 15px; 
      bottom: 50px; 
    }
    background-color: $color-modal;
    opacity: 0.7;
   
    border: none;
    border-radius: 50%;
    cursor: pointer; 
    position: fixed; 
    
    transition-property: background-color, transform, opacity;
    transition:  0.4s ease-in-out;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 0;
  
  
    &:hover, :focus {
      background-color: $color-button-hover;
      transform: rotate(360deg)
    }
  
    &::before {
      content: "";
      width: 40px;
      height: 40px;
      background: transparent no-repeat center center;
      background-size: 100% 100%; 
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
    }
  
    &__hide {
      display: none;
    }
  
    &__hiding {
      opacity: 0;
    }
  }

