.customer-conteiner {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 769px;

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url(../images/customers/customersmob1x.png);
  @include retina {
    background-image: url(../images/customers/customersmob2x.png);

  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/customers/customersmob3x.png);
  }

  @media screen and (min-width: 480px) {
    height: 769px;
    background-image: url(../images/customers/customers4801x.png);
    @include retina {
      background-image: url(../images/customers/customers4802x.png);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/customers/customers4803x.png);
    }
  }

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 120px;
    height: 544px;
    background-image: url(../images/customers/customerstab1x.png);
    @include retina {
      background-image: url(../images/customers/customerstab2x.png);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/customers/customerstab3x.png);
    }
  }

  @media screen and (min-width: $desktop) {
    padding-top: 100px;
    padding-bottom: 200px;
    height: 647px;
    background-image: url(../images/customers/customersdesk1x.png);
    @include retina {
      background-image: url(../images/customers/customersdesk2x.png);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/customers/customersdesk3x.png);
    }
  }
}

.customers {
  &__title {
    margin-bottom: 20px;

    @include font(28px, 700, 1.2);

    @media screen and (min-width: $tablet) {
      @include font(42px, 700, 1.2);
    }
  }

  &__text {
    margin-bottom: 32px;

    @include font(14px, 400, 1.1);

    @media screen and (min-width: $tablet) {
      @include font(16px, 700, 1.2);
    }
  }

  &__list {
    @media screen and (min-width: $tablet) {
      display: flex;
    }
  }

  &__item {
    position: relative;

    @media screen and (max-width: $tablet) {
      margin-bottom: 24px;
      padding: 51px 8px 8px 8px;

      background: $color-background;
      border-radius: 0px 30px 30px 30px;
    }

    @media screen and (min-width: $tablet) {
      margin-right: 32px;
      padding: 56px 12px 12px 12px;

      background: $color-background;
      border-radius: 0px 30px 30px 30px;

      &:last-child {
        margin-right: 0;
      }
      max-width: 336px;
      min-height: 244px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 139px;
      padding: 58px 14px 14px 14px;

      background: $color-background;
      border-radius: 0px 30px 30px 30px;

      &:last-child {
        margin-right: 0;
      }
      max-width: 501px;
      min-height: 227px;
    }
  }
}

.customers__item-text {
  margin-bottom: 40px;

  @include font(16px, 700, 1.2);

  @media screen and (min-width: 768px) {
    @include font(18px, 700, 1.2);
  }
}

.customers-wrap {
  display: flex;
  align-items: center;
  max-width: 160px;
  border-right: 0.854167px solid $color-button-border;

  &__img {
    margin-right: 16px;
  }

  &__conteiner {
    display: block;
    padding: 6px 18px 6px 16px;
  }

  &__title {
    margin-bottom: 2px;

    @include font(14px, 500, 150%);
  }

  &__text {
    @include font(14px, 400, 150%);
  }
}

.customer-svg {
  &__list {
    position: absolute;
    display: flex;
    left: 14px;
    top: 14px;
  }

  &__item {
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__star {
    fill: $color-modal;
  }
}
