.customer-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/customers/rectanglemob1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/customers/rectanglemob2x.png);
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/customers/rectanglemob3x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/customers/rectangletab1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/customers/rectangletab2x.png);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/customers/rectangletab3x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/customers/rectangledesk1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/customers/rectangledesk2x.png);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/customers/rectangledesk3x.png);
    }
  }
}

.customers {
  &__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;

    @media screen and (min-width: 768px) {
      font-size: 42px;
      line-height: 1.2;
    }
  }

  &__text {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.2;
    }
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__item {
    position: relative;
    @media screen and (max-width: 767px) {
      margin-bottom: 24px;
      padding: 28px 8px 8px 8px;

      background: $color-background;
      border-radius: 0px 30px 30px 30px;
    }
    @media screen and (min-width: 768px) {
      margin-right: 32px;
      padding: 28px 12px 8px 12px;
      background: $color-background;
      border-radius: 0px 30px 30px 30px;

      &:last-child {
        margin-right: 0;
      }
      max-width: 336px;
      min-height: 244px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 139px;
      padding: 28px 14px 8px 14px;
      background: $color-background;
      border-radius: 0px 30px 30px 30px;

      &:last-child {
        margin-right: 0;
      }
      max-width: 501px;
      min-height: 227px;
    }
  }
}

.customers__item-text {
  padding: 28px 8px 40px 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;

  @media screen and (min-width: 768px) {
    padding: 28px 12px 40px 12px;
    font-size: 18px;
    line-height: 1.2;
  }
  @media screen and (min-width: 768px) {
    padding: 28px 14px 40px 14px;
  }
}

.customers-wrap {
  display: flex;
  align-items: center;
  max-width: 160px;
  height: 52px;
  border-right: 0.854167px solid $color-button-border;

  &__img {
    margin-right: 16px;
  }

  &__conteiner {
    display: block;
    padding: 6px 18px 6px 16px;
  }

  &__title {
    margin-bottom: 2px;

    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
}

.customer-svg {
  &__list {
    position: absolute;
    display: flex;
    left: 14px;
    top: 14px;
  }

  &__item {
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__star {
    fill: $color-modal;
  }
}
