.footer {
    max-height: 619px;
    height: 619px;
    max-width: 100%;

    @include tablet-min {
        max-height: 506px;
        height: 506px;
    }

    @include desktop-min {
        max-height: 395px;
        height: 395px;
    }
}

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../images/mobile/footer-background-left.png), 
    url(../images/mobile/footer-background-right.png),
    url(../images/mobile/footer-background-bottom.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top 132px left, top right, bottom;
    background-size: 110px 116px, 104px 259px, 253px 66px;
    box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

    @include retina {
        background-image: url(../images/mobile/footer-background-left@2x.png),
                          url(../images/mobile/footer-background-right@2x.png),
                          url(../images/mobile/footer-background-bottom@2x.png);
        background-image: url(../images/mobile/footer-background-left@3x.png),
                          url(../images/mobile/footer-background-right@3x.png),
                          url(../images/mobile/footer-background-bottom@3x.png);
    }

        @include tablet-min {
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url(../images/tablet/footer-background-tab.png);
        background-position: bottom;
        background-size: cover;

        @include retina {
            background-image: url(../images/tablet/footer-background-tab@2x.png);
            background-image: url(../images/tablet/footer-background-tab@3x.png);
        }
    }

    @include desktop-min {
        padding-bottom: 100px;
        background-image: url(../images/desktop/footer-background-desk.png);
        background-size: contain;

        @include retina {
            background-image: url(../images/desktop/footer-background-desk@2x.png);
            background-image: url(../images/desktop/footer-background-desk@3x.png);
        }
    }
}

.for-desktop {
    @include desktop-min {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }
}

.logo-site-nav {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;

    @include tablet-min {
        margin-bottom: 0;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 40px;
    }

    @include desktop-min {
        margin-bottom: 0;
        height: 52px;
    }
}

.logo {
    width: 69px;
    height: 51px;
    
    @include desktop-min {
        width: 66px;
        height: 52px;
    }
}

.logo__icon {
    width: 69px;
    height: 51px;
}

.site-nav {

    @include tablet-min {
        margin-left: 114px;
    }

    @include desktop-min {
        margin-left: 148px;
    }
}

.site-nav__list {
    @include tablet-min {
        display: flex;
    }
}

.site-nav__item {
    &:not(:last-child) {
        margin-bottom: 20px;

        @include tablet-min {
            margin-right: 28px;
            margin-bottom: 0;
        }
    }
}

.site-nav__link {
    @include font (14px, 400, 1.14);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        color: $color-button;
        text-decoration: underline;
    }
}

.footer-form {
    margin-bottom: 60px;

    @include tablet-min {
        margin-bottom: 100px;
    }

    @include desktop-min {
        margin-bottom: 0px;
    }
}

.footer-form__title {
    @include font (14px, 500, 1.5);
    margin-bottom: 12px;
}

.footer-form__input {
    @include font (12px, 400, 1.5);
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    border: 0.854167px solid $color-modal;
    border-radius: 30px;

    outline: none;

    @include tablet-min {
        width: 279px;
        height: 42px;
        margin-bottom: 12px;
    }
}

.input-and-btn {
    margin-bottom: 20px;

    @include tablet-min {
        display: flex;
        margin-bottom: 12px;
    }

    @include desktop-min {
        margin-bottom: 0;
    }
}

.submit-btn {
    display: flex;
    justify-content: right;

    @include tablet-min {
        margin-left: 12px;
    }
}

.form-btn {
    padding: 11px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include tablet-min { 

    &:hover,
    &:focus {
        background-color: $color-modal;
    }
    }
}

.form-policy {
    @include font (10px, 400, 1.2);

    @media screen and (min-width: $tablet) {
        @include font (12px, 400, 1.16);
    }
}

.policies-footer-end {
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
    }
}

.policies {
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 0;
    }
}

.policy-link {
    @include font (10px, 400, 1.2);
    position: relative;
    color: $color-button-border;

    &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 0.5px;
        background-color: $color-button-border;
        display: block;
    }
}

.policies__list {
    display: flex;
    justify-content: center;
    justify-content: space-around;

    @media screen and (min-width: $tablet) {
        justify-content: flex-start;
    }
}

.policies__list-item {
    @include font (10px, 400, 1.2);

    &:not(:last-child) {
        @media screen and (min-width: $tablet) {
            margin-right: 20px;
        }
    } 

    @media screen and (min-width: $tablet) {
        @include font (12px, 400, 1.16);
    }
}

.policies__list-link {
    position: relative;
    color: $color-button-border;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.5px;
        background-color: $color-button-border;
        display: block;
    }
}

.footer-end {
    @include font (10px, 400, 1.2);
    text-align: center;

    @media screen and (min-width: $tablet) {
        @include font (12px, 400, 1.16);
    }
}
