.section-offering {
  background-image: url(../images/mobile-offering/background-mobile1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile-offering/background-mobile2x.png);
  }

  @media screen and (min-width: 480px) {
    background-image: url(../images/mobile-offering/background-mobile480-1x.png);
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile-offering/background-mobile480-2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet-offering/background-tablet1x.png);
    padding: 150px 0 100px 0;
    margin-top: -108px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet-offering/background-tablet2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/desktop-offering/background-desktop1x.png);
    padding: 177px 0 43px 0;
    margin-top: -161px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop-offering/background-desktop2x.png);
    }
  }
}

.offering-container {
  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.offering-img {
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.offering-img__tablet {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.offering-title {
  font-size: 28px;
  line-height: 1.18;

  margin-top: 60px;

  @media screen and (min-width: 768px) {
    width: 526px;
    font-size: 42px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 0;
  }
}

.offering-description {
  font-size: 14px;
  line-height: 1.14;

  margin-top: 28px;

  @media screen and (min-width: 768px) {
    width: 500px;
    font-size: 16px;
    line-height: 1.19;
  }

  @media screen and (min-width: 1280px) {
    line-height: 1.5;
  }
}

.advantages-container {
  @media screen and (max-width: 767px) {
    &__delivery {
      margin-top: 28px;
    }

    &__order {
      margin-top: 28px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 40px;

    &__delivery {
      width: 252px;
      margin-right: 116px;
    }

    &__order {
      width: 252px;
    }
  }
}

.offering__button {
  display: flex;
  align-items: center;
  margin-top: 28px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 32px;
  }
}

.information-button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.53;

  min-width: 83px;

  padding: 0;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.button__item:last-child {
  margin-left: 24px;
}

.advantages-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;

  margin-top: 8px;

  @media screen and (min-width: 1280px) {
    line-height: 1.4;
  }
}

.advantages-description {
  font-size: 14px;
  line-height: 1.14;

  margin-top: 16px;

  @media screen and (min-width: 1280px) {
    line-height: 1.5;
  }
}
