.subscribe {
  display: flex;
  flex-direction: column;
  // padding-bottom: 60px;
  margin-top: -43px;

  @include tablet-min {
    align-items: flex-start;
    // padding-bottom: 100px;
    margin-top: -74px;
  }

  @include desktop-min {
    flex-flow: column wrap-reverse;
    justify-content: center;
    align-items: flex-end;
    height: 266px;
    //padding-bottom: 60px;
    margin-top: -66px;
  }

  &__section {
    padding-top: 0;

    @include desktop-min {
      padding-bottom: 64px;
    }
  }

  &__picture {
    @include mobile-max {
      align-self: center;
      margin-bottom: 17px;
    }

    @include tablet-min {
      align-self: flex-end;
      margin-bottom: 20px;
    }

    @include desktop-min {
      margin-bottom: 0px;
    }
  }

  &__tittle {
    @include font(28px, 700, 120%);

    margin-bottom: 20px;

    @include tablet-min {
      font-size: 42px;
    }
  }

  &__box {
    margin-bottom: 40px;

    @include tablet-min {
      margin-bottom: 24px;
    }
    // @include desktop-min {
    //   margin-bottom: 24px;
    // }
  }

  &__text {
    @include font(14px, 400, 1.14);

    // margin-bottom: 40px;

    @include tablet-min {
      // margin-bottom: 24px;
      font-size: 16px;
      line-height: 150%;
    }
    @include desktop-min {
      width: 608px;
      //margin-bottom: 24px;
    }
  }

  &__form {
    min-width: 280px;
  }

  &__form-box {
    @include tablet-min {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__label {
    display: block;
    margin-bottom: 20px;
    @include tablet-min {
      margin-bottom: 0;
    }
  }

  &__mail-input {
    width: 100%;
    font-size: 12px;
    line-height: 150%;

    padding: 12px 12px;
    // margin-bottom: 20px;

    color: #505050;
    background: $color-background;

    border: 0.85px solid #ffe550;
    border-radius: 30px;

    outline: none;

    @include tablet-min {
      width: 395px;
      // margin-bottom: 0;
    }
    // @include desktop-min {
    //   margin-bottom: 0;
    // }
  }

  &__mail-button {
    background: $color-button;
    border-radius: 30px;
    border: 0;

    padding: 11px 22px;
    float: right;

    @include tablet-min {
      margin-left: 22px;
    }

    &::placeholder {
      @include font(13px, 500, 150%);
    }

    &:hover,
    &:focus {
      background-color: $color-button-hover;
    }
  }
}
